text_wave_front
.tempo_vita_var.ods
butterflyTest
sample*.txt
py_scr/__pycache__
sim/work
sim/transcript
sim/vsim.wlf
.cu_map_even.ods
.cu_map_odd.ods
.~lock.*
py_scr/in_mkr.m
c_model/fftStageTest
c_model/fftTest
c_model/reverseTest
__simStdOut.txt
*.swp
py_scr/__keep_graph
py_scr/butterfly.py
py_scr/butterflyTest.py
c_model/reverseTest.c
SDI_FFT_2020_LOMBARDINI.zip
